* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(205, 230, 205);
  flex-wrap: wrap;
  min-height: 20vh;
}
.header img {
  width: 140px;
}
.header img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.header h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav ul {
  display: flex;
  direction: column;
  list-style: none;
  width: 800px;
  justify-content: space-evenly;
}
.header .nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer {
  display: flex;
  background-color: rgb(205, 230, 205);
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  margin-top: 15px;
  padding: 15px;
}
.footer ul {
  display: flex;
  list-style: none;
  width: 800px;
  justify-content: space-evenly;
}

.main {
  min-height: 70vh;
}

.main.index {
  display: flex;
  flex-wrap: wrap;
}

.banner-principal {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.div-destacados {
  display: flex;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 219, 203);
}

.productos-destacados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.producto-1 {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.producto-1:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.producto-2 {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.producto-2:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.producto-3 {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.producto-3:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.button {
  background-color: rgb(225, 219, 203);
  font-weight: bold;
  color: black;
  border: 2px black solid;
}

.button:hover {
  transform: scale(1.1);
}

/*NOVEDADES*/
.grid-container {
  display: grid;
  background-color: rgb(238, 234, 225);
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" "imagen7 imagen8 imagen9";
  width: 900px;
  height: 600px;
  background-color: white;
  grid-gap: 10px;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.493);
}

.imagen {
  margin: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0, 5s;
}

.imagen:hover {
  transform: scale(1.1);
}

.imagen1 {
  grid-area: imagen1;
  background-image: url("../recursos/imagen1.webp");
}

.imagen2 {
  grid-area: imagen2;
  background-image: url("../recursos/imagen2.jpg");
}

.imagen3 {
  grid-area: imagen3;
  background-image: url("../recursos/imagen3.jpg");
}

.imagen4 {
  grid-area: imagen4;
  background-image: url("../recursos/imagen4.jpg");
}

.imagen5 {
  grid-area: imagen5;
  background-image: url("../recursos/imagen5.jpg");
}

.imagen6 {
  grid-area: imagen6;
  background-image: url("../recursos/imagen6.jpg");
}

.imagen7 {
  grid-area: imagen7;
  background-image: url("../recursos/imagen7.jpeg");
}

.imagen8 {
  grid-area: imagen8;
  background-image: url("../recursos/imagen8.jpeg");
}

.imagen9 {
  grid-area: imagen9;
  background-image: url("../recursos/imagen9.jpg");
}

h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(179, 174, 158);
  background-image: linear-gradient(to right, rgb(179, 174, 158), rgb(225, 219, 203));
  color: black;
  width: 30%;
  height: 10%;
  justify-content: left;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

/*PRODUCTOS*/
.flex-container-productos {
  display: flex;
  justify-content: space-evenly;
}

.carousel-inner {
  display: flex;
  margin: 50px;
  padding: 10px;
  justify-content: space-between;
}

.carousel-inner img {
  margin: 0 10px;
  max-width: 150vh;
  max-height: 150vh;
  justify-content: center;
}

#carouselExampleIndicators {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

/*CONTACTANOS*/
.main-contactanos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 10px;
  background-image: url(../recursos/foto-contactanos.webp);
  background-position: center;
  min-height: 70vh;
  padding: 50px;
  margin: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  min-height: 20vh;
  min-width: 50vh;
}

.form input:focus {
  background-color: rgb(206, 205, 205);
}

.form textarea:focus {
  background-color: rgb(206, 205, 205);
}

.submit:hover {
  transform: scale(1.1);
}

/*QUIENES SOMOS*/
.main-quienes-somos {
  background-image: url(../recursos/foto-quienes-somos.webp);
  min-height: 70vh;
  font-family: "Courier New", Courier, monospace;
  color: black;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 10px;
  padding: 10px;
}

@media (max-width: 619px) {
  .header {
    justify-content: center;
  }
  .nav ul {
    width: 100px;
  }
  .footer {
    width: 100%;
  }
}
@media (max-width: 1330px) {
  .header {
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .nav {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 300px;
    grid-template-areas: "imagen1 imagen2" "imagen3 imagen4" "imagen5 imagen6" "imagen7 imagen8" "imagen9 imagen9";
  }
}
img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */